@charset "UTF-8";

hr {
    margin: 30px;
}

div {
    border: 1px solid #000;
}

div#rowAlign {
    text-align: center;
    border: 1px solid #000;
}

span {
    border: 1px solid #f80;

}
div#center {
width: 200px;
    height: 200px;
    position: relative;
}
div#center>span {
position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
